<li class="comment">
  <div class="comment-avatar">
    <img src="<%= comment.publisher && comment.publisher.avatar_url ? comment.publisher.avatar_url : '/assets/avatar.png' %>">
  </div>
  <div class="comment-content">
    <a href="<%= comment.publisher ? '/publishers/' + comment.publisher.id.to_s : '#' %>">
      <%= comment.publisher ? comment.publisher.alternative_name : '' %>
    </a>
    <time class="comment-time">
      <%= comment.publisher ? comment.created_at : '' %>
    </time>
    <p>
      <%= comment.content %>
    </p>
  </div>
</li>
