<article class="main">
  <h2>新的课堂，你来设计</h2>
  <small class="slogan">开放课堂是设计和实践综合实践课的平台</small>
  <p>
    <a class="btn btn-primary" href="<%= new_lessonplan_path() %>">创建教案</a>
  </p>
  <section class="description">
    <ul class="description">
      <li class="age">
        <b>综合实践课</b>
        <small>面向小学4年级到初中2年级的综合实践课</small>
      </li>
      <li class="design">
        <b>汇聚教案案例</b>
        <small><%= Lessonplan.all.length %>门充满互动和创意的综合实践课</small>
      </li>
      <li class="classroom">
        <b>各地老师互动协作</b>
        <small>和全国200位综合实践课老师协作和学习</small>
      </li>
      <li class="feedback">
        <b>分享授课结果</b>
        <small>看看各地孩子有什么不同结果</small>
      </li>
    </ul>
  </section>
  <section class="example">
    <h3>我们的课</h3>
    <ul>
      <% Lessonplan.all.reverse.each_with_index do |lessonplan, idx| %>
        <li>
          <a href="<%= lessonplan_path(lessonplan.id) %>"><b class="title"><%= lessonplan.title %></b></a>
          <p class="description"><%= lessonplan.short_description.html_safe %></p>
          <a href="<%= lessonplan_path(lessonplan.id) %>" class="enter">进入</a>
        </li>
      <% end %>
    </ul>
  </section>
<!--  <section class="application">
    <h3>申请内测</h3>
    <form>
      <input type="text" placeholder="请输入您的邮箱">
      <input type="submit" value="申请">
    </form>
  </section> -->
</article>
    