.container.content
  %nav.breadcrumb
    %ul
      %li
        %a{ :href => "#" } 首页
      %li
        %a{ :href => "#" } 案例
      %li.active
        %a{ :href => "#" } 精品

%article.plan.edit
  = form_for :lessonplan, :url => { :action => 'create' } do |f|

    %section.title-section
      %h3 教案名称
      = f.text_field :title, :placeholder => '给你的教案起一个名字...', class: "large"

    %section
      %h3 教程介绍

      .multi-column-section
        .preview-uploader-wrapper{ 'ng-controller' => 'PreviewController', 'on-load' => 'init();' }
          %a.reset-btn{ 'ng-click' => 'reset();', 'ng-show' => 'previewImageUrl' } &times;
          %span.uploder-placeholder
            %a{ href: "javascript:;" } 设置封面
            %input.jquery-file-uploader{ type: "file", name: "file", :accept => "image/*" }
          %img{ 'ng-src' => "{{previewImageUrl}}", 'ng-show' => "previewImageUrl" }
          = f.text_field :symbol_img_url, 'ng-model' => 'previewImageUrl', class: 'hide'

        .description-wrapper
          = label_tag 'lessonplan[short_description]', '简短描述(140字)'
          = f.text_area :short_description, :placeholder => '说出这个活动的亮点...', :rows => 4, :maxlength => 140, :cols => 60
      
      = label_tag 'lessonplan[content]', '详细内容', class: "clearfix"
      %small.help-info 简要说明课程年级、学科、学生情况、教学思路等...
      = description_editor f

    %section.plan-step
      %h3 活动步骤
      = render :partial => "shared/lessonplan_editable_tasks", locals: { lessonplan: nil }
    %section.user-operation
      = f.submit '保存教案', :class => 'btn btn-primary'


