= javascript_include_tag "ckeditor/init"
= javascript_include_tag "ckeditor/config"
.course-header.clearfix
	%img.logo.img-rounded{ :src => "/assets/logo.png" }
	%h1 我的家乡
= form_for :lessonplan, :url => { :action => 'create' } do |f|	
	.page-action
		= f.submit '保存', :class => 'btn btn-link'
	.row-fluid
		.span9
			.section
				%h5 基础信息
				= label_tag 'lessonplan[title]', '教案名称'
				= f.text_field :title, :placeholder => '给你的教案起一个名字...'
				= label_tag 'lessonplan[short_description]', '简短描述'
				= f.text_area :short_description, :placeholder => '给你的教案写个简单描述...', :rows => 4, :maxlength => 50
				= label_tag 'lessonplan[content]', '教案内容'
				= f.cktext_area :content, :cols => 40
			%hr.soften
			.section
				%h5 正在投票的教学条目
				.task-list
					%li.task{ 'data-toggle' => "collapse", 'data-target' => "#task1" }
						= form_for :task, :url => { :action => 'create' } do |f|
							%label 条目名
							= f.text_field :title, :placeholder => '例如给家乡的火车站拍一张照片...'
							%label 条目内容
							= f.text_area :content, :placeholder => '你的家乡的湖有不同的美...', :rows => 5, :maxlength => 140
							/ %p
							/ 	%a{ :href=> "#" } 添加一条 
							/ 	%i.icon-plus-sign
			%hr.soften
		.span3
			.right-content
				.section
					= javascript_include_tag "controllers/avatar.picker.controller"
					.plan{ 'ng-controller' => 'AvatarPickerController' }
						%a.plan-icon-holder{ :href => "#", 'data-toggle' => "modal", 'data-target' => "#myModal", 'ng-show' => 'selectedImgUrl', 'ng-src' => '{{selectedImgUrl}}' }
							%img{ :src => "/assets/plan-icon-holder.png" }
							给教案添加标志图

						#myModal.modal{ :tabindex => "-1", :role => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true", :style => "display: none; "}
							.modal-header
								%button.close{ :type => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true", 'ng-click' => 'cancel()' } &times;
								%h3#myModalLabel 选择一个标志图
							.modal-body
								%ul.avatar-list.clearfix
									- (1..16).each do |num|
										- url = "/assets/image#{num}.jpeg"
										%li.avatar-item
											%label
												%input{ :type => 'radio', :name => "lessonplan[symbol_img_url]", :value => url, :id => "symbol_img_url_#{num}", 'ng-model' => 'currentImgUrl', 'ng-click' => 'select()' }
												%img.img-rounded{ :src => url }
													%i
							.modal-footer
								%button.btn{ 'data-dismiss' => "modal", 'aria-hidden' => "true", 'ng-click' => 'cancel()' } 关闭
								%button.btn.btn-primary{ 'data-dismiss' => "modal", 'aria-hidden' => "true", 'ng-click' => 'choose()' } 选好了
	    
				%hr.soften
				.section
					%h5 关注者
					%ul.member-list.clearfix
						- (1..8).each do |num|
							%li
								%img.img-rounded{ :src => "/assets/image#{num}.jpeg" }


