.course-header.clearfix
	%img.logo.img-rounded{ :src => "/assets/logo.png" }
	%h1 我的家乡
.row
	.span9
		/ .page-action
		/ 	%a{ :href => "#" } 保存
		.row
			.span4
				%section
					%h5 基础信息
					= form_for :lessonplan, :url => { :action => 'create' } do |f|
						= label_tag 'lessonplan[title]', '教案名称'
						= f.text_field :title, :placeholder => '给你的教案起一个名字...'
						= label_tag 'lessonplan[student_count]', '学生人数'
						= f.text_field :student_count, :placeholder => '这个教案适合多少学生...'
						= label_tag 'lessonplan[content]', '教案内容'
						= f.text_area :content, :cols => 40
						%p
							= f.submit '保存', :class => 'btn btn-primary'
					