= javascript_include_tag "ckeditor/init"
= javascript_include_tag "ckeditor/config"
.course-header.clearfix
	%img.logo.img-rounded{ :src => "/assets/logo.png" }
	%h1 我的家乡
= form_for :lessonplan, :url => { :action => 'create' } do |f|	
	.row
		.span9
			.page-action
				= f.submit '保存', :class => 'btn btn-link'
			.row
				.span4
					.section
						%h5 基础信息
						= label_tag 'lessonplan[title]', '教案名称'
						= f.text_field :title, :placeholder => '给你的教案起一个名字...'
						= label_tag 'lessonplan[student_count]', '学生人数'
						= f.text_field :student_count, :placeholder => '这个教案适合多少学生...'
						= label_tag 'lessonplan[content]', '教案内容'
						= f.cktext_area :content, :cols => 40
					%hr.soften
				.span5
					.section
						%h5 合作者
						%ul.member-list.clearfix
							%li 
								%img.img-rounded{ :src => "/assets/image10.jpeg" }
							%li 
								%img.img-rounded{ :src => "/assets/image8.jpeg" }
							%li 
								%img.img-rounded{ :src => "/assets/image4.jpeg" }
							%li 
								%img.img-rounded{ :src => "/assets/image5.jpeg" }
						%button.btn.btn-add-task{ :type => "button" }
							申请加入 
							%i.icon-plus-sign
					%hr.soften
					.section
						%h5 正在投票的教学条目
						.task-list
							%li.task{ 'data-toggle' => "collapse", 'data-target' => "#task1" }
								拍摄一张湖的照片
								%label.like-number.pull-right 1872人喜欢
							#task1.collapse.in.task-content.camera.clearfix
								.task-content-text
									%p 你的家乡的湖有不同的美，拍摄一张湖的照片看看每个人家乡的湖有什么区别。
								.task-content-action
									%a{ :href => "#" } 喜欢(1872)
									| 
									%a{ :href => "#" } 评论(12)

		.span3
			.right-content
				.section
					.plan  
						%a.plan-avatar-placehoder{ :href => "#", 'data-toggle' => "modal", 'data-target' => "#myModal" }
							%img{ :src => "/assets/image-placeholder.png" }
							%p 给教案添加标志图

						#myModal.modal{ :tabindex => "-1", :role => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true", :style => "display: none; "}
							.modal-header
								%button{ :type => "button", :class => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true" }
								%h3#myModalLabel 选择一个头像
							.modal-body
								%ul.avatar-list.clearfix
									- 2.times.each do
										- (1..15).each do |num|
											%li 
												%img{ :src => "/assets/image#{num}.jpeg", :class => "img-rounded" }
													%i.icon-ok
							.modal-footer
								%button.btn.btn-link{ 'data-dismiss' => "modal", 'aria-hidden' => "true" } 关闭
								%button.btn.btn-primary 选好了

					%h2.name 教学课件
					%p 每个家乡也许都有一个湖，她的故事就是我家乡的故事。
					%button.btn.btn-like{ :type => "button" } 
						我关注
						%i.icon-heart.icon-white
	    
				%hr.soften
				.section
					%h5 关注者
					%ul.member-list.clearfix
						%li
							%img.img-rounded{ :src => "/assets/image1.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image2.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image6.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image7.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image9.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image15.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image8.jpeg" }
						%li
							%img.img-rounded{ :src => "/assets/image10.jpeg" }				