.container.content
  %nav.breadcrumb
    %ul
      %li
        %a{ :href => "#" } 首页
      %li
        %a{ :href => "#" } 案例
      %li.active
        %a{ :href => "#" } 精品

%article.plan.edit
  = form_for :lessonplan, :url => { :action => 'create' } do |f|  

    %section
      = label_tag 'lessonplan[title]', '教案名称'
      = f.text_field :title, :placeholder => '给你的教案起一个名字...'

    %section
      %h3 教程介绍
      = label_tag 'lessonplan[attachment]', '封面图片', :id => "attachment-label"
      = f.file_field :attachment, :class => "file_input",:onchange => 'try {return validate_file(this)} catch(e){}'
      = label_tag 'lessonplan[short_description]', '简短描述(140字)'
      = f.text_area :short_description, :placeholder => '说出这个活动的亮点...', :rows => 4, :maxlength => 140, :cols => 60
      
      = label_tag 'lessonplan[content]', '详细内容'
      %small.help-info 简要说明课程年级、学科、学生情况、教学思路等...
      = description_editor f

    %section.plan-step
      %h3 活动步骤
      = render :partial => "shared/lessonplan_editable_tasks", locals: { lessonplan: nil }
    %section
      = f.submit '保存教案', :class => 'btn btn-primary'


