%nav.breadcrumb
	%ul
		%li
			%a{ :href => "#" } 首页
		%li
			%a{ :href => "#" } 案例
		%li.active
			%a{ :href => "#" } 精品
			
%article.plan
	%p.page-action
		-if can? :update, @lessonplan
			%a.btn.btn-info.plan-action{ :href => "#{edit_lessonplan_path(@lessonplan.id)}"} 编辑
		-if can? :destroy, @lessonplan
			= link_to '删除', lessonplan_path(), :confirm => '确定要删除么？', :method => :delete, :class => 'btn btn-danger'

	%h2= @lessonplan.title
	/ %small.level{ :href => "#" } 小学高年级
	/ %small.time{ :href => "#" } 一周
	
	/ %ul.plan-menu
	/ 	%li.current 内容
	/ 	%li
	/ 		%a{ :href => "#" } 讨论[289]

	%section.activity
		%img.main{ :src => @lessonplan.attachment_url, :alt => @lessonplan.title }
		%p.description= @lessonplan.short_description.html_safe
		%h3 活动介绍
		= @lessonplan.content.html_safe

		- unless @lessonplan.tasks.empty?
			%section.plan-step.clearfix{'ng-controller' => 'TasksController', 'ng-init' => "init(#{@lessonplan.id})"}
				%h3 活动步骤 [{{tasks.length}}]
				%ol.steps
					%li{ 'ng-repeat' => 'task in tasks', :class => "{{getItemCssClass($index)}}" }
						%div
							%b {{task.title}}
							%div{ 'ng-bind-html-unsafe' => 'task.content' }

	%section.comments{ 'ng-controller' => 'CommentsController', 'ng-init' => "init(#{@lessonplan.id})" }
		%h3 评论[{{comments.length}}]
		%ul
			%li.comment.clearfix{ 'ng-repeat' => 'comment in comments' }
				.comment-avatar
					%img{ 'ng-src' => "{{comment.user.avatar_url}}" }
				.comment-content
					%small.nick-name {{comment.user.nick_name}}
					%time.comment-time {{formatDateTime(comment.updated_at)}}
					%p {{comment.content}}
			- if online
				.comment.clearfix
					= form_for :comment, :url => lessonplan_comments_url(@lessonplan), :html => { 'ng-submit' => 'submitForm()' } do |f|
						= f.text_area :content, :placeholder => "评论一下这个教案...", :rows => 5, 'ng-model' => 'new_comment_content'
						= f.submit '提交', :class => 'btn btn-primary'

	%aside.author
		/ %b.title 课程设计者
		/ %img.avatar{ :src => "/assets/user.png" }
		/ %a.name 刘以宁
		/ %small.profession 电子科技大学 语文老师
						
