.course-header.clearfix
	.theme
		%h1 #创新课
		%p 关于创新的课堂实践
.page.container	
	.row-fluid
		.span9
			.section
				%h2= @lessonplan.title
				%p= @lessonplan.content.html_safe
			%hr.soften
			
			.section.clearfix{'ng-controller' => 'TasksController', 'ng-init' => "init(#{@lessonplan.id})"}
				%h5 教学条目[{{tasks.length}}]
				%ul.task-list
					%li.task.clearfix{ 'ng-repeat' => 'task in tasks' }
						.pull-left
							%label.task-order {{$index+1}}
						.task-content.pull-left
							%h6 {{task.title}}
							%p.task-content-text {{task.content}}

			%hr.soften
				%h5 图片附件
				%a{:href => @lessonplan.attachment_url, :rel => "lightbox"}
					%img{:id=>'image-item' ,:src => @lessonplan.attachment_url}

			%hr.soften
			.section.clearfix
				%h5 作业[376]
				%ul.homework-list
					%li.homework.clearfix
						.homework-like.pull-left
							%label.like-number 1121
						.homework-content.pull-left
							%h6{"data-target" => "#homework-detail-1", "data-toggle" => "collapse"} 华冈中学初115班-美丽的洛玻湖
							#homework-detail-1.collapse.in
								%small.clearfix
									%img{:src => "/assets/image15.jpeg"}
									%a{:href => "#"} 张志
									山西 平遥
								%p.homework-content-text 这是我们全班25位同学于2012年8月11日探访洛玻湖的作业总结
								%p.homework-content-images.clearfix
									%img{:src => "/assets/hm1.jpeg"}
									%img{:src => "/assets/hm2.jpeg"}
									%img{:src => "/assets/hm3.jpeg"}
									%img{:src => "/assets/hm4.jpeg"}
									%img{:src => "/assets/hm5.jpeg"}
									%img{:src => "/assets/hm6.jpeg"}
									%img{:src => "/assets/hm7.jpeg"}
								%p.homework-content-action
									%a 查看全部
					%li.homework.clearfix
						.homework-like.pull-left
							%label.like-number 1121
						.homework-content.pull-left
							%h6{"data-target" => "#homework-detail-1", "data-toggle" => "collapse"} 江北中学初291班-罗湖一日调查
							#homework-detail-1.collapse.in
								%small.clearfix
									%img{:src => "/assets/image15.jpeg"}
									%a{:href => "#"} 江琳
									河北 石家庄
								%p.homework-content-text 小吃有好多，今天让我们来找找有新沙湖周围有什么样的小吃
								%p.homework-content-images.clearfix
									%img{:src => "/assets/hm10.jpeg"}
									%img{:src => "/assets/hm11.jpeg"}
									%img{:src => "/assets/hm12.jpeg"}
									%img{:src => "/assets/hm13.jpeg"}
									%img{:src => "/assets/hm9.jpeg"}
									%img{:src => "/assets/hm14.jpeg"}
								%p.homework-content-action
									%a 查看全部
					%li.homework.clearfix
						.homework-like.pull-left
							%label.like-number 1121
						.homework-content.pull-left
							%h6{"data-target" => "#homework-detail-1", "data-toggle" => "collapse"} 华冈中学初115班-美丽的洛玻湖
							#homework-detail-1.collapse.in
								%small.clearfix
									%img{:src => "/assets/image15.jpeg"}
									%a{:href => "#"} 张志
									山西 平遥
								%p.homework-content-text 这是我们全班25位同学于2012年8月11日探访洛玻湖的作业总结
								%p.homework-content-images.clearfix
									%img{:src => "/assets/hm1.jpeg"}
									%img{:src => "/assets/hm2.jpeg"}
									%img{:src => "/assets/hm3.jpeg"}
									%img{:src => "/assets/hm4.jpeg"}
									%img{:src => "/assets/hm5.jpeg"}
									%img{:src => "/assets/hm6.jpeg"}
									%img{:src => "/assets/hm7.jpeg"}
								%p.homework-content-action
									%a 查看全部		

			%hr.soften
			.section.clearfix{ 'ng-controller' => 'CommentsController', 'ng-init' => "init(#{@lessonplan.id})" }
				%h5 评论[{{comments.length}}]
				.comment.clearfix{ 'ng-repeat' => 'comment in comments' }
					.comment-avatar
						%img{ 'ng-src' => "{{comment.user.avatar_url}}" }
					.comment-content
						%small.nick-name {{comment.user.nick_name}}
						%time.comment-time {{formatDateTime(comment.updated_at)}}
						%p {{comment.content}}
				- if online
					.comment.clearfix
						= form_for :comment, :url => lessonplan_comments_url(@lessonplan), :html => { 'ng-submit' => 'submitForm()' } do |f|
							= f.text_area :content, :placeholder => "介绍一下这个步骤...", :rows => 3, 'ng-model' => 'new_comment_content'
							= f.submit '提交', :class => 'btn'

		.span3
			.right-content
				.section
					.plan
						%img.avatar.img-rounded{ :src => @lessonplan.symbol_img_url }
					%h2.name= @lessonplan.title
					%p= @lessonplan.short_description
					%button.btn.btn-strong{ :type => "button" } 
						交作业 
						%i.icon-file.icon-white
	    
				%hr.soften
				.section
					%h5 关注者[8]
					%ul.member-list.clearfix
						%li
							%img{ :src => "/assets/image1.jpeg" }
						%li
							%img{ :src => "/assets/image2.jpeg" }
						%li
							%img{ :src => "/assets/image6.jpeg" }
						%li
							%img{ :src => "/assets/image7.jpeg" }
						%li
							%img{ :src => "/assets/image9.jpeg" }
						%li
							%img{ :src => "/assets/image15.jpeg" }
						%li
							%img{ :src => "/assets/image8.jpeg" }
						%li
							%img{ :src => "/assets/image10.jpeg" }

		= javascript_include_tag "lightbox" 

	            