<header>
  <nav>
    <h1><a href="/">新的课堂</a></h1>
    <ul>
      <% unless online? %>
        <li>
          <a href="<%= new_publisher_path() %>">注册</a>
        </li>
        <li>
          <a href="<%= login_path() %>">登录</a>
        </li>
        <li>
            <a href="<%= about_us_path() %>">关于我们</a>
        </li>
      <% else %>
        <li>
          <a href="<%= about_us_path() %>">关于我们</a>
        </li>
        <li>
          <a href="<%= new_lessonplan_path() %>">创建新教案</a>
        </li>
        <li>
          <a href="<%= publisher_path current_user %>">我的信息</a>
        </li>
        <li>
          <a href="<%= logout_path() %>">退出</a>
        </li>
      <% end %>
        <li>
          <a class="icon-email feedback" href="mailto:newclass.org@gmail.com">提供建议</a>
        </li>
        <li>
          <form target="_blank" class="search-container" action="http://www.baidu.com/baidu" method="GET">
            <input name="word" type="text" class="search" placeholder="搜索教案">
            <input name="tn" type="hidden" value="bds">
            <input name="cl" type="hidden" value="3">
            <input name="ct" type="hidden" value="2097152">
            <input name="si" type="hidden" value="www.newclass.org">
            <input type="submit" class="do-search" value="搜索">
          </form>
        </li>
    </ul>
  </nav>
</header>
