!!!
%html{ :lang => "en", 'ng-app' => 'OpenClass'}
	%head
		%meta{ :charset => "utf-8" }
		%title 开放课堂
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
		%meta{ :name => "description", :content => "" }
		%meta{ :name => "author", :content => "" }

		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= render 'shared/header'
		.page.container
			= yield
		= render 'shared/footer'
